{% extends "base.html" %}

{% block content %}
{% set is_docs_root = docs_context_path and section.path == docs_context_path %}
<div class="docs-shell">
  {% include "partials/docs-sidebar.html" %}

  <div class="docs-content">
    <section class="page-header">
      <h1>{{ section.title }}</h1>

      {% if section.description %}
      <p class="page-description">
        {{ section.description }}
      </p>
      {% endif %}
    </section>

    {% if is_docs_root and section.content %}
    <div class="content docs-overview-intro">
      {{ section.content | safe }}
    </div>
    {% endif %}

    {% include "partials/docs-overview.html" %}

    {% if section.content and not is_docs_root %}
    <div class="content">
      {{ section.content | safe }}
    </div>
    {% endif %}
  </div>

  {% set toc_items = section.toc %}
  {% include "partials/docs-toc.html" %}
</div>
{% endblock content %}
