{% set previous_label = config.extra.previous_label | default(value="Previous") %}
{% set next_label = config.extra.next_label | default(value="Next") %}
{% set docs_section_path = config.extra.devlab.docs.section | default(value="") %}
{% set_global docs_previous_path = "" %}
{% set_global docs_next_path = "" %}
{% set_global docs_pagination_found = false %}
{% set_global docs_page_paths_output = "" %}
{% set_global docs_seen_page_paths = [] %}

{% if docs_section_path %}
{% if config.extra.devlab.docs.navigation is defined and config.extra.devlab.docs.navigation %}
{% for navigation_item in config.extra.devlab.docs.navigation %}
{% if lang == config.default_language %}
{% set navigation_section = get_section(path=navigation_item.section, lang=lang) %}
{% else %}
{% set navigation_section = get_section(path=navigation_item.section, lang=lang, allow_missing=true) %}
{% endif %}
{% if navigation_section %}
{% set navigation_page_paths_output = <devlab.docs_page_paths section_path={navigation_item.section} content_lang={lang} /> %}
{% set_global docs_page_paths_output = docs_page_paths_output ~ navigation_page_paths_output %}
{% endif %}
{% endfor %}
{% else %}
{% set_global docs_page_paths_output = <devlab.docs_page_paths section_path={docs_section_path} content_lang={lang} /> %}
{% endif %}
{% set docs_page_paths = docs_page_paths_output | split(pat=":::") %}
{% for candidate_path in docs_page_paths %}
{% if candidate_path and candidate_path not in docs_seen_page_paths %}
{% set_global docs_seen_page_paths = [...docs_seen_page_paths, candidate_path] %}
{% if docs_pagination_found %}
{% if not docs_next_path %}
{% set_global docs_next_path = candidate_path %}
{% endif %}
{% elif candidate_path == page.relative_path %}
{% set_global docs_pagination_found = true %}
{% else %}
{% set_global docs_previous_path = candidate_path %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if docs_pagination_found and (docs_previous_path or docs_next_path) %}
{% include "partials/devlab/docs-prev-next-links.html" %}
{% endif %}
