{# Internal DevLab partial. #}
{% set logo_text = config.title %}
{% set show_logo_mark = false %}
{% set logo_mark_path = "" %}
{% if config.extra.devlab is defined and config.extra.devlab.brand is defined %}
{% if config.extra.devlab.brand.logo_text is defined %}
{% set logo_text = config.extra.devlab.brand.logo_text %}
{% endif %}
{% if config.extra.devlab.brand.show_logo_mark is defined %}
{% set show_logo_mark = config.extra.devlab.brand.show_logo_mark %}
{% endif %}
{% if config.extra.devlab.brand.logo_mark_path is defined %}
{% set logo_mark_path = config.extra.devlab.brand.logo_mark_path %}
{% endif %}
{% endif %}
{% if not logo_text and not show_logo_mark %}
{% set logo_text = config.title %}
{% endif %}

<a class="site-logo" href="{{<devlab.route_url path='/' content_lang={lang} />}}"{% if not logo_text %} aria-label="{{ config.title }}"{% endif %}>
  {% if show_logo_mark %}
  {% if logo_mark_path %}
  <img
    class="site-logo-mark site-logo-mark-image"
    src="{{<devlab.url path={logo_mark_path} />}}"
    alt=""
    width="32"
    height="32"
  >
  {% else %}
  <svg class="site-logo-mark site-logo-mark-default" viewBox="0 0 32 32" aria-hidden="true">
    <path d="M16 3 29 26H3L16 3Z"></path>
    <path d="M16 11 22 22H10L16 11Z"></path>
  </svg>
  {% endif %}
  {% endif %}

  {% if logo_text %}
  <span class="site-logo-text">{{ logo_text }}</span>
  {% endif %}
</a>
