.content-icon svg {
  display: block;
  width: 1em;
  height: 1em;
}

.content-icon-inline {
  font-size: 1.15em;
}

.content-icon-sm {
  font-size: 0.95em;
}

.content-icon-md {
  font-size: 1.5em;
}

.content-icon-lg {
  font-size: 2em;
}
